extends ../layout

block content
    div(ng-app="calendarApp")
        .container
            section#directives-calendar(ng-controller='CalendarCtrl')
              .page-header
                h1 UI-Calendar
              .well
                  form
                    .form-group
                      .checkbox
                        label
                          input(type='checkbox', ng-click='toggleGcal()')
                          | Sync Google Calendar
                    .form-group
                        label(ng-show="syncGcal") URL
                        input.form-control(ng-show="syncGcal" ng-model='GcalUrl')

                      button.btn.btn-primary(type='button', ng-click=)
                      button.btn.btn-primary(type='button', ng-click='addEvent()')
                        | Add Event
                    ul.unstyled
                      li(ng-repeat='e in events')
                        .alert.alert-info
                          a.close(ng-click='remove($index)')
                            i.icon-remove
                          b
                            input(ng-model='e.title')
                          |                                     {{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}
                  tabset
                    tab(select="renderCalender('myCalendar1');")
                      tab-heading
                        i.glyphicon.glyphicon-bell
                        |  Calendar One
                      .alert-success.calAlert(ng-show="alertMessage != undefined && alertMessage != ''")
                        h4 {{alertMessage}}
                      .btn-toolbar
                        p.pull-right.lead Calendar One View Options
                        .btn-group
                          button.btn.btn-success(ng-click="changeView('agendaDay', 'myCalendar1')") AgendaDay
                          button.btn.btn-success(ng-click="changeView('agendaWeek', 'myCalendar1')") AgendaWeek
                          button.btn.btn-success(ng-click="changeView('month', 'myCalendar1')") Month
                      .calendar(ng-model='eventSources', calendar='myCalendar1', ui-calendar='uiConfig.calendar')
                    tab(select="renderCalender('myCalendar2');")
                      tab-heading
                        i.glyphicon.glyphicon-bell
                        |  Calendar Two
                      .alert-success.calAlert(ng-show="alertMessage != undefined && alertMessage != ''")
                        h4 {{alertMessage}}
                      .btn-toolbar
                        p.pull-right.lead Calendar Two View Options
                        .btn-group
                          button.btn.btn-success(ng-click="changeView('agendaDay', 'myCalendar2')") AgendaDay
                          button.btn.btn-success(ng-click="changeView('agendaWeek', 'myCalendar2')") AgendaWeek
                          button.btn.btn-success(ng-click="changeView('month', 'myCalendar2')") Month
                      .calendar(ng-model='eventSources', calendar='myCalendar2', ui-calendar='uiConfig.calendar')
                    tab(select="renderCalender('myCalendar3');")
                      tab-heading
                        i.glyphicon.glyphicon-bell
                        |  Calendar Three
                      .alert-success.calAlert
                        h4 This calendar uses the extended form
                      .btn-toolbar
                        p.pull-right.lead Calendar Three View Options
                        .btn-group
                          button.btn.btn-success(ng-click="changeView('agendaDay', 'myCalendar3')") AgendaDay
                          button.btn.btn-success(ng-click="changeView('agendaWeek', 'myCalendar3')") AgendaWeek
                          button.btn.btn-success(ng-click="changeView('month', 'myCalendar3')") Month
                      .calendar(ng-model='eventSources2', calendar='myCalendar3', ui-calendar='uiConfig.calendar')
