extends ../layout

append css
  link(rel="stylesheet" href="/styles/dependencies/angular-color-picker.css")
block content
  div(ng-app='strandApp')
    .container(ng-controller='StrandCtrl')
      .alert.alert-info(ng-show="activeStrand == {}")
        | No strand pattern is active yet!
      .panel
        .row
          h1.text-center Create Strand Pattern
        .row
          .col-md-4
            .row
              .col-md-12
                h3 Choose a pattern
                .btn-group(role="group" ng-model="editStrand.pattern")
                  button.btn.btn-default(ng-model='editStrand.pattern' uib-btn-radio="'solid'" type='button') Solid
                  button.btn.btn-default(ng-model='editStrand.pattern' uib-btn-radio="'gradient'" type='button') Gradient
                  button.btn.btn-default.disabled(ng-model='editStrand.pattern' uib-btn-radio="'rainbow'" type='button' ng-disabled="true==true") Rainbow
            .row
              .col-md-10
                h3 How many LEDs?
                .input-group
                  span.input-group-addon: span.fa.fa-lightbulb-o
                  input.form-control(type="number" min="1" step="1" ngModel="editStrand.numLEDs" value="{{editStrand.numLEDs}}")
            .row
              .col-md-12
                h3 Animations @todo
                .btn-group(role="group")
                  button.btn.btn-default.disabled(type='button') Interval
                  button.btn.btn-default.disabled(type='button') Wave
                  button.btn.btn-default.disabled(type='button') Blink
          .col-md-4
            .row
              h3(ng-show="editStrand.pattern == 'gradient'") Add Color Stop
              h3(ng-show="editStrand.pattern == 'solid'") Pick a Color
              .input-group.col-md-11
                input.form-control(type="text" ng-model="editStrand.solidColor" ng-init="editStrand.solidColor = '#f7f7f7'")
                span.input-group-btn: button.btn.btn-primary(type="button"): span.fa.fa-plus
            .row
              color-picker.col-md-11(ng-model="editStrand.solidColor")
          .col-md-4
            h3(ng-show="editStrand.pattern == 'solid'") Preview
            span.fa.fa-lightbulb-o(ng-repeat="light in range({{editStrand.numLEDs}}) track by $index")

        .row.padding-top
          .col-md-12
            .row
              .col-md-12.col-md-offset
                button.btn.btn-success.btn-block.btn-lg
                  h3 Save
      .well
        h1.text-center Saved Patterns
        .alert.alert-danger(ng-show="strands == []")
          | No strand patterns have been saved. Create one!

