html
    head
        block title
            title Lighthouse - Circadian-responsive Lighting System
        meta(name="viewport" content="width=device-width initial-scale=1, maximum-scale=1")
        block css
            // STYLES
            link(rel="stylesheet", href="/styles/importer.css")
            // STYLES END

    body
        block content
        block scripts
            // SCRIPTS
            script(src="/js/dependencies/sails.io.js")
            script(src="/js/bundle.js")
            // SCRIPTS END